{% extends 'base.html' %}


{% block title %}
    Update Page Details
{% endblock title %}
  

{% block content %}
    <a href="/"><= Go Home</a>
    <button style="float:right" onclick="logout()">logout</button>
    <div class="container">
        <div class="col-md-12 center">
                <h2 style="margin-left:200px; margin-right:200px; margin-top:50px"> Update Page Details</h2>
                <form method="POST" id="pageform" action="/update/{{page.id}}" style="margin:200px; margin-top:100px">
                    Name :      <input class="form-control" type="text" name="name" value="{{page.name}}">             <br><br>
                    Description:<textarea class="form-control" name="description">{{page.description}}</textarea>      <br><br>
                    Impressum:  <input class="form-control" type="text" name="impressum" value="{{page.impressum}}">   <br><br>
                    About:      <textarea class="form-control" name="about">{{page.about}}</textarea>                  <br><br>
                    Phone:      <input class = "form-control" data-validation="number" type="text" name="phone" value="{{page.phone}}">                      <br><br>
                    Website:    <input class = "form-control" data-validation="url" type="text" name="website" value="{{page.website}}">                  <br><br>
                    Overview:   <input class = "form-control" type="text" name="overview" value="{{page.company_overview}}"><br><br>
                    Emails:
                    {% if not page.emails|length %}
                        <input class = "form-control" type="text" name="email" data-validation="email"><br>
                    {% else %}
                        {% for email in page.emails %}
                        <input class = "form-control" type="text" name="email" data-validation="email" value="{{email}}"><br>
                        {% endfor %}
                    {% endif %}
                    <input type="text" name="token" value="{{page.access_token}}" hidden>
                    <button class="form-control btn btn-success" type="submit">Save</button><br><hr>
                    <button class="form-control btn btn-danger" type="button" onclick="cancel()">Cancel</button>
                </form>
        </div>
    </div>
    
{% endblock content %}
    


{% block javascript %}
 
<script>
        window.fbAsyncInit = function() {
            FB.init({
              appId      : '1328941030601769',
              cookie     : true,
              xfbml      : true,
              version    : 'v3.2'
            });
        }

        function cancel()
        {
          window.location = '/'
        }

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
           

</script>
{% endblock javascript %}
    